.red {
	color: red;
}

.navy {
	color: navy;
}

/* Needs to be added when loading script at the bottom of body within HTML */
/* ng-cloak */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng.ng-cloak {
	display: none !important;
}